* {
  font-family: "Jua", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #007354;
  color: #ffffff;
  border: none;
  padding: 10px 25px;
  font-size: 20px;
}

@media all and (min-width: 0px) and (max-width: 850px) {
  .btn {
    min-width: 60px;
    padding: 0px 12px;
    font-size: 10px;
    min-height: 30px;
  }
}

input:focus {
  outline: none;
}

.userContainer {
  width: 40%;
  margin: 0 auto;
}

.inputContainer input {
  width: 100%;
  height: 80px;
  font-size: 24px;
  margin: 20px 0px;
  border: 1px solid #007354;
  padding-left: 20px;
}

.loading {
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #f9ca26;
  border-radius: 50%;
  animation: loading 0.75s ease-out infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
