.mainContainer {
  display: flex;
  gap: 1rem;
  width: calc(100vw - 18%);
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.linksContainer {
  width: calc(100vw - 40%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  align-items: center;
  justify-items: center;
}

.noticeContainer {
  border: 0.5px solid #007354;
  width: 50%;
  min-width: 400px;
}

.noticeTitle {
  font-size: 24px;
  background-color: #f9ca26;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.noticeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #007354;
  border-width: 0.5px 0px 0px 0px;
  font-size: 18px;
}

.noticeItemTitle {
  padding: 10px;
  max-width: 360px;
}

.noticeItemDate {
  align-self: flex-end;
  color: #007354;
  font-size: 12px;
  min-width: 70px;
}

@media all and (min-width: 0px) and (max-width: 1000px) {
  .linksContainer {
    width: 100%;
  }

  .noticeContainer {
    display: none;
  }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 850px) {
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .linksContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
